<div class="row">
    <div class="col-md-8">
        <label>{{first_name}} <strong>{{last_name}}</strong></label>
        <p>{{email}}</p>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Edit</button>
            <button type="button" class="btn btn-default">Delete</button>
        </div>
    </div>
</div>
